@using ApiProjeKampi.WebUI.Dtos.ReservationDto
@model List<ResultReservationDto>

@{
    ViewData["Title"] = "ReservationList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Rezervasyon Listesi</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Müşteri Adı</th>
                                    <th scope="col">Rezervasyon Tarih</th>
                                    <th scope="col">Rezervasyon Saati</th>
                                    <th scope="col">Kişi Sayısı</th>
                                    <th scope="col">Rezervasyon Durumu</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Onayla</th>
                                    <th scope="col">İptal Et</th>
                                    <th scope="col">Beklet</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.NameSurname</td>
                                        <td>@item.ReservationDate</td>
                                        <td>@item.ReservationTime</td>
                                        <td>@item.CountOfPeople</td>
                                        <td>@item.Status</td>
                                        <td><a href="/Reservation/DeleteReservation/@item.Id/" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Reservation/UpdateReservation/@item.Id/" class="btn btn-success">Güncelle</a></td>
                                        <td><a href="/Reservation/AcceptReservation/@item.Id/" class="btn btn-info">Onayla</a></td>
                                        <td><a href="/Reservation/CancelReservation/@item.Id/" class="btn btn-dark">İptal Et</a></td>
                                        <td><a href="/Reservation/WaitReservation/@item.Id/" class="btn btn-warning">Beklet</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
